.appointment_item {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.patient_name {
    margin-left: 10%;
    margin-right: auto;
}

.appointment_item_buttons {
 display: flex;
}

.attendance_button {
    padding-top: 4px
}

.reminder_button {

}

.pcf_container {
    max-height: 600px;
    height: 600px;
    padding: 5%;
}

.ListContainer {
    overflow: auto;
    height: 100%;
}

.patient_checkin_tool_container {
    height: 100%;
}

.appointment_list {
    height: 90%;
}

.date_picker {
    height: 10%;
    box-sizing: border-box;
    padding-left: 8%;
}